.vazio{
    content: "";
    width: 100%;
    height: 78.6%;
    background-color:rgb(237, 192, 192);
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.textos{
    justify-content: center;
    align-items: center;
    padding:5%;
}

.textos h4{
    color: rgb(226, 84, 84);
    font-size: 18px;
    font-weight: bold;
}
.textos h1{
    font-size: 50px;
    margin-top: 5%;
}
.textos > p{
    font-size: 16px;
    margin-top: 2%;
}
button{
    margin: 5% 0%;
    color: white;
    background-color: rgb(196, 52, 52);
    padding: 2% 6%;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    font-weight: bold;
    background-color:rgb(134, 37, 37);
    transform: translate(2%,5%);
    transition: .7s;
    box-shadow: 3px 4px 6px rgb(227, 102, 102);
}

.card{
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:rgb(238, 103, 103);
    width: 800px; 
    border-radius:12px;
}
.card-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 150px;
}
.card-texto div{
    margin:0 23px;
    text-align: center;
}
.card-texto > p{
    height:70%;
    border-right: 3px solid rgb(191, 78, 78);
} 
.card-texto div p{
    font-size: 16px;
    margin: 2% 0;
}
